<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game</title>
    <style>
        body {
            color: white;
        }

        .block {
            width: 50px;
            height: 50px;
            display: inline-block;
            border: 1px solid black;
        }

        .error {
            border: 2px solid red;
            padding: 5px;
            display: inline-block;
        }

        .error-icon {
            color: red;
            margin-right: 5px;
        }


    </style>
</head>
<body style="background-color: #0d183a;">
<h2>Request Data</h2>
<ul>
    {% for key in state %}
        <li><strong>{{ key }}</strong>: {{ state[key] }}</li>
    {% endfor %}
</ul>


{% if map is none %}
    <p>Map is null</p>
{% else %}
    {% set type_map = {'Taiga': {'char': 'T', 'color': 'white'},
                      'Rainforest': {'char': 'R', 'color': 'forestgreen'},
                      'Grassland': {'char': 'G', 'color': 'lightgreen'},
                      'Mountain': {'char': 'M', 'color': 'gray'},
                      'Forest': {'char': 'F', 'color': 'darkgreen'},
                      'Volcano': {'char': 'V', 'color': 'red'},
                      'Desert': {'char': 'D', 'color': 'sandybrown'},
                      'Ocean': {'char': 'O', 'color': 'dodgerblue'},
                      'Temperate Forest': {'char': 'W', 'color': 'olivedrab'},
                      'Tundra': {'char': 'A', 'color': 'lightgray'},
                      'Taiga Forest': {'char': 'F', 'color': 'white'},
                      'Savanna': {'char': 'S', 'color': 'khaki'}} %}

    <style>
        .grid-item {
            width: 15px;
            height: 15px;
            padding: 5px; /* Adjust padding as needed */
            font-weight: bold;
            border: 2px solid black; /* Add border for table cells */
            text-align: center; /* Center align content */
        }

        .player {
            width: 15px;
            height: 15px;
            background-color: rgba(255, 255, 255, 0.2);
            border: 3px solid yellow;
            font-weight: bold;
            text-align: center;
            padding: 2px;
        }

        table {
            border-collapse: collapse; /* Collapse table borders */
        }
    </style>
    {% set map_size = map|length %}
    <table>
        {% for y in range(map_size) %}
            <tr>
                {% for x in range(map_size) %}
                    {% set item = map[x][y] %}
                    {% set type_info = type_map[item] %}
                    {% if player_state["location"][0] == x and player_state["location"][1] == y %}
                        {#                <td class="grid-item player" style="color: yellow">X</td>#}
                        <td class="player" style="color:{{ type_info['color'] }}">{{ type_info['char'] }}</td>
                    {% else %}
                        <td class="grid-item" style="color:{{ type_info['color'] }}">{{ type_info['char'] }}</td>
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
{% endif %}



{% if state.error_msg %}
    <div class="error">
        <span class="error-icon">&#9888;</span>{{ state.error_msg }}
    </div>
    <br><br>
{% endif %}
{% if state.file_not_found %}
    <div class="error">
        <span class="error-icon">&#9888;</span>file:{{ state.command[5:] }} not found
    </div>
    <br><br>
{% endif %}

<h2>Send Command</h2>
<form action="/index" method="POST">
    <label for="command">Enter command:</label><br>
    <input type="text" id="command" name="command" autofocus><br><br>
    <input type="submit" value="Submit">
</form>
<H2>Controls</H2>
<form action="/index" method="POST">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button type="submit" name="command" value="Up">↑</button>
    <br>
    <button type="submit" name="command" value="Left">←</button>
    <button type="submit" name="command" value="Right">→</button>
    <br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button type="submit" name="command" value="Down">↓</button>
</form>
<br>
<form action="/interact" method="Post">
    <button type="submit" name="command" value="Interact">Interact</button>
</form>
<br>
<button onclick="location.href='/'">Home</button>
</body>
</html>