<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game</title>
    <style>
        html, body {
            height: 100%;
            margin: 0;
        }

        body {
            background-color: #18191a;
            color: white;
        }

        .block {
            width: 50px;
            height: 50px;
            display: inline-block;
            border: 1px solid black;
        }

        .error {
            border: 2px solid red;
            padding: 5px;
            display: inline-block;
        }

        .error-icon {
            color: red;
            margin-right: 5px;
        }

        .top-bar {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-left: 20px;
            padding-right: 20px;
            background-color: #3c1178;
            border-bottom: 2px solid white;
        }

        .top-bar .buttons-container {
            display: flex;
            gap: 20px;
        }

        .top-bar button {
            margin-left: auto;
        }

        .container {
            display: flex;
            flex: 1;
            height: calc(100% - 82px);
        }

        .box-1, .box-2 {
            flex: 1;
            padding-left: 20px;
        }

        .box-1 {
            border-right: 2px solid white;
        }

        .modal {
            display: none;
            position: fixed;
            z-index: 1;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgba(0, 0, 0, 0.8);
        }

        .modal-content {
            background-color: #3c1178;
            margin: 15% auto;
            padding: 20px;
            border: 2px solid white;
            width: 80%;
            max-width: 500px;
            text-align: center;
            border-radius: 5px;
        }

        .button_purple {
            padding: 10px;
            cursor: pointer;
            border: 1px solid white;
            background-color: #3c1178;
            color: white;
            margin-bottom: 4px;
            border-radius: 5px;
        }

        .button_move {
            padding: 10px;
            cursor: pointer;
            border: 1px solid white;
            background-color: #3c1178;
            color: white;
            margin-bottom: 4px;
            width: 40px;
            height: 40px;
            border-radius: 5px;
        }

        .button_gray {
            padding: 10px;
            cursor: pointer;
            border: 1px solid white;
            background-color: #18191a;
            color: white;
            margin-bottom: 4px;
            border-radius: 5px;
        }

        .commands-container {
            display: flex;
            gap: 10px;
            align-items: center;
        }

        #hover-text {
            display: none;
            position: absolute;
            background-color: #3c1178;
            border: 1px solid white;
            padding: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            font-size: 14px;
            color: white;
            pointer-events: none;
            border-radius: 5px;
        }
    </style>
</head>
<body>
<div class="top-bar">
    <h1>World Map</h1>
    <div class="buttons-container">
        {% if save_location != "" %}
            <form action="/index" method="POST">
                <button class="button_gray" type="submit" name="command" value="save {{ save_location }}">Save
                    to: {{ save_location }}</button>
            </form>
        {% endif %}
        <button class="button_gray" id="openModalBtn">Quit Game</button>

        <div id="myModal" class="modal">
            <div class="modal-content">
                <p>You are about to quit the game do you wish to save before quiting?</p>
                {% if save_location != "" %}
                    <form id="saveForm" action="/index" method="POST">
                        <input type="hidden" name="command" value="save {{ save_location }}">
                    </form>
                    <button class="button_gray" style="margin-right: 20px" onclick="saveAndRedirect()">Quit With
                        Saving
                    </button>
                {% else %}
                    <p>Save your game with the "save (your game name)" command before easy save is available</p>
                {% endif %}

                <button class="button_gray" style="margin-right: 20px" onclick="location.href='/'">Quit Without Saving
                </button>
                <span class="close button_gray">Cancel</span>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="box-1">

        <table>
            <tr>
                <td class="tile" data-text="Tile 1 Info">Tile 1</td>
                <td class="tile" data-text="Tile 2 Info">Tile 2</td>
            </tr>
            <tr>
                <td class="tile" data-text="Tile 3 Info">Tile 3</td>
                <td class="tile" data-text="Tile 4 Info">Tile 4</td>
            </tr>
        </table>
        <div id="hover-text"></div>


        <h2>World Map</h2>

        {% if map is none %}
            <p>Map is null</p>
        {% else %}
            {% set type_map = {'Taiga': {'char': 'T', 'color': 'white'},
                      'Rainforest': {'char': 'R', 'color': 'forestgreen'},
                      'Grassland': {'char': 'G', 'color': 'lightgreen'},
                      'Mountain': {'char': 'M', 'color': 'gray'},
                      'Forest': {'char': 'F', 'color': 'darkgreen'},
                      'Volcano': {'char': 'V', 'color': 'red'},
                      'Desert': {'char': 'D', 'color': 'sandybrown'},
                      'Ocean': {'char': 'O', 'color': 'dodgerblue'},
                      'Temperate Forest': {'char': 'W', 'color': 'olivedrab'},
                      'Tundra': {'char': 'A', 'color': 'lightgray'},
                      'Taiga Forest': {'char': 'F', 'color': 'white'},
                      'Savanna': {'char': 'S', 'color': 'khaki'}} %}

            <style>
                .grid-item {
                    width: 15px;
                    height: 15px;
                    padding: 5px;
                    font-weight: bold;
                    border: 2px solid black;
                    text-align: center;
                }

                .player {
                    width: 15px;
                    height: 15px;
                    background-color: rgba(255, 255, 255, 0.2);
                    border: 3px solid yellow;
                    font-weight: bold;
                    text-align: center;
                    padding: 2px;
                }

                table {
                    border-collapse: collapse;
                }
            </style>
            {% set map_size = map|length %}
            <table>
                {% for y in range(map_size) %}
                    <tr>
                        {% for x in range(map_size) %}
                            {% set item = map[x][y] %}
                            {% set type_info = type_map[item] %}
                            {% if player_state["location"][0] == x and player_state["location"][1] == y %}
                                <td class="player tile"
                                    style="color:{{ type_info['color'] }}" data-text="{{ item }}">{{ type_info['char'] }}
                                </td>
                            {% else %}
                                <td class="grid-item tile"
                                    style="color:{{ type_info['color'] }}" data-text="{{ item }}">{{ type_info['char'] }}
                                </td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                {% endfor %}
            </table>
        {% endif %}
    </div>

    <div class="box-2">
        {% if state.error_msg %}
            <br/>
            <div class="error">
                <span class="error-icon">&#9888;</span>{{ state.error_msg }}
            </div>
            <br>
        {% endif %}
        {% if state.file_not_found %}
            <br/>
            <div class="error">
                <span class="error-icon">&#9888;</span>file:{{ state.command[5:] }} not found
            </div>
            <br>
        {% endif %}

        <h2>Send Text Command</h2>
        <form action="/index" method="POST">
            <label for="command">Enter command:</label><br>
            <input class="button_purple" type="text" id="command" name="command" autofocus><br><br>
            <input class="button_purple" type="submit" value="Submit">
        </form>
        <H2>Move</H2>
        <form action="/index" method="POST">
            <button class="button_move" style="margin-left: 44px;" type="submit" name="command" value="Move Up">↑
            </button>
            <br>
            <button class="button_move" type="submit" name="command" value="Move Left">←</button>
            <button class="button_move" style="margin-left: 44px;" type="submit" name="command" value="Move Right">→
            </button>
            <br>
            <button class="button_move" style="margin-left: 44px;" type="submit" name="command" value="Move Down">↓
            </button>
        </form>
        <h2>Commands</h2>
        <div class="commands-container">
            <form action="/interact" method="POST">
                <button class="button_purple" type="submit" name="interact" value="Interact Get Region">Interact
                </button>
            </form>
            <button class="button_purple" onclick="location.href='/inventory'">Inventory</button>
            <button class="button_purple" id="helpBtn">Help</button>
        </div>
        <div id="myModalHelp" class="modal">
            <div class="modal-content">
                <h2>Commands:</h2>
                <ol>
                    <li>
                        <h3>Move player:</h3>
                        <ul>
                            <li>move up</li>
                            <li>move down</li>
                            <li>move left</li>
                            <li>move right</li>
                        </ul>
                    </li>
                    <li>
                        <h3>Save, load game:</h3>
                        <ul>
                            <li>save (your save name)</li>
                            <li>load (your save name)</li>
                        </ul>
                    </li>
                </ol>
                <span class="close button_gray">Back</span>
            </div>
        </div>

    </div>
</div>
</body>
<script>
    function saveAndRedirect() {
        const form = document.getElementById('saveForm');
        const formData = new FormData(form);

        fetch('/index', {
            method: 'POST',
            body: formData
        }).then(response => {
            if (response.ok) {
                window.location.href = '/';
            } else {
                alert('Save failed!');
            }
        }).catch(error => {
            console.error('Error:', error);
            alert('Save failed!');
        });
    }

    // Get the modal
    const modal = document.getElementById("myModal");

    // Get the button that opens the modal
    const btn = document.getElementById("openModalBtn");

    // Get the <span> element that closes the modal
    const span = document.getElementsByClassName("close")[0];

    // When the user clicks on the button, open the modal
    btn.onclick = function () {
        modal.style.display = "block";
    }

    // When the user clicks on <span> (x), close the modal
    span.onclick = function () {
        modal.style.display = "none";
    }

    // Get the modal
    const modalHelp = document.getElementById("myModalHelp");

    // Get the button that opens the modal
    const btnHelp = document.getElementById("helpBtn");

    // Get the <span> element that closes the modal
    const spanHelp = document.getElementsByClassName("close")[1];

    // When the user clicks on the button, open the modal
    btnHelp.onclick = function () {
        modalHelp.style.display = "block";
    }

    // When the user clicks on <span> (x), close the modal
    spanHelp.onclick = function () {
        modalHelp.style.display = "none";
    }

    const tiles = document.querySelectorAll('.tile');
    const hoverText = document.getElementById('hover-text');

    tiles.forEach(tile => {
        tile.addEventListener('mousemove', (e) => {
            hoverText.textContent = tile.getAttribute('data-text');
            hoverText.style.display = 'block';
            hoverText.style.left = `${e.pageX + 10}px`;
            hoverText.style.top = `${e.pageY + 10}px`;
        });
        tile.addEventListener('mouseout', () => {
            hoverText.style.display = 'none';
        });
    });
</script>
</html>