<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Interact</title>
    <style>
        body {
            color: white;
        }

        .short-text {
            width: 500px; /* Adjust the width as needed */
            word-wrap: break-word;
        }

        .error {
            border: 2px solid red;
            padding: 5px;
            display: inline-block;
        }

        .error-icon {
            color: red;
            margin-right: 5px;
        }
    </style>
</head>
<body style="background-color: #0d183a;">
<h1>Interact</h1><br>
<h2>{{ biome_data[1] }}</h2>
<p class="short-text">{{ biome_data[2] }}</p>

{% if region_map is none %}
    <p>Region Map is null</p>
{% else %}
    {% set type_region_map = {
    'Tree': {'char': 'T', 'color': 'green'},
    'Grass': {'char': 'G', 'color': 'lightgreen'},
    'Pebble': {'char': 'P', 'color': 'gray'},
    'Flower': {'char': 'F', 'color': 'violet'},
    'Bush': {'char': 'B', 'color': 'green'},
    'Water': {'char': '~', 'color': 'cyan'},
    'Rock': {'char': 'R', 'color': 'gray'},
    'Moss': {'char': 'M', 'color': 'green'},
    'Dead Tree': {'char': 'T', 'color': 'yellow'},
    'Fungi Tree': {'char': 'T', 'color': 'magenta'},
    'Fungi': {'char': 'F', 'color': 'violet'},
    'Iron Ore': {'char': 'I', 'color': 'orangered'},
    'Snow': {'char': 'S', 'color': 'white'},
    'Deep Snow': {'char': 'D', 'color': 'white'},
    'Ice': {'char': 'I', 'color': 'lightblue'},
    'Sandstone': {'char': 'S', 'color': 'lightyellow'},
    'Sand': {'char': '~', 'color': 'lightyellow'},
    'Cactus': {'char': 'C', 'color': 'lightgreen'},
    'Empty': {'char': '#', 'color': 'gray'},
    'Coal Ore': {'char': 'C', 'color': 'black'},
    'Mud': {'char': 'M', 'color': 'yellow'},
    'Dead Bush': {'char': 'B', 'color': 'yellow'},
    'Magma': {'char': '~', 'color': 'darkorange'},
    'Ash': {'char': '~', 'color': 'gray'},
    'Ash Rock': {'char': 'A', 'color': 'gray'},
    'Sulfur': {'char': 'S', 'color': 'yellow'},
    'Dirt': {'char': 'D', 'color': 'Peru'}
} %}
    <style>
        .grid-item {
            width: 15px;
            height: 15px;
            padding: 5px; /* Adjust padding as needed */
            font-weight: bold;
            border: 2px solid black; /* Add border for table cells */
            text-align: center; /* Center align content */
        }

        .player {
            width: 15px;
            height: 15px;
            background-color: rgba(255, 255, 255, 0.2);
            border: 3px solid yellow;
            font-weight: bold;
            text-align: center;
            padding: 2px;
        }

        table {
            border-collapse: collapse; /* Collapse table borders */
        }

        .hidden-letter {
            display: none;
        }
    </style>
    <script>
        // JavaScript to toggle between A and B rapidly for blinking effect
        setInterval(function () {
            var blinkingTexts = document.querySelectorAll(".blinkingText");
            var hiddenTexts = document.querySelectorAll(".hiddenText");

            blinkingTexts.forEach(function (blinkingText, index) {
                if (blinkingText.style.display === "none") {
                    blinkingText.style.display = "inline";
                    hiddenTexts[index].style.display = "none";
                } else {
                    blinkingText.style.display = "none";
                    hiddenTexts[index].style.display = "inline";
                }
            });
        }, 1000); // Change the interval (in milliseconds) as needed for faster blinking
    </script>
    {% set region_map_size = region_map|length %}
    {# TODO MAKE PRINTING REGION MAP#}
    <table>
        {% for y in range(region_map_size) %}
            <tr>
                {% for x in range(region_map_size) %}
                    {% set tile = region_map[y][x][0] %}
                    {% set found_mob = region_map[y][x][1] %}
                    {% set type_info = type_region_map[tile] %}
                    {% if found_mob %}

                        {% if player_state["region_location"][0] == x and player_state["region_location"][1] == y %}
                            <td class="player">
                                <span class="blinkingText">C</span>
                                <span class="hiddenText hidden-letter"
                                      style="color:{{ type_info['color'] }}">{{ type_info['char'] }}</span>
                            </td>
                        {% else %}
                            <td class="grid-item">
                                <span class="blinkingText">C</span>
                                <span class="hiddenText hidden-letter"
                                      style="color:{{ type_info['color'] }}">{{ type_info['char'] }}</span>
                            </td>

                        {% endif %}
                    {% else %}
                        {% if player_state["region_location"][0] == x and player_state["region_location"][1] == y %}
                            <td class="player" style="color:{{ type_info['color'] }}">{{ type_info['char'] }}</td>
                        {% else %}
                            <td class="grid-item" style="color:{{ type_info['color'] }}">{{ type_info['char'] }}</td>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
    {# TODO MAKE PRINTING REGION MAP#}
{% endif %}

<H2>Controls</H2>
<button onclick="location.href='/index?command=load current'">Back to map</button>
<br><br>
<form action="/interact" method="POST">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button type="submit" name="interact" value="Move Up">↑</button>
    <br>
    <button type="submit" name="interact" value="Move Left">←</button>
    <button type="submit" name="interact" value="Move Right">→</button>
    <br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button type="submit" name="interact" value="Move Down">↓</button>
</form>

{% set current_tile = region_map[player_state["region_location"][0]][player_state["region_location"][1]] %}
<form action="/interact" method="POST">
    {% if current_tile == "Tree" %}
        <button type="submit" name="interact" value="Cut Tree">Cut Tree</button>
    {% elif current_tile == "Rock" %}
        <button type="submit" name="interact" value="Mine Rock">Mine Rock</button>
    {% endif %}
</form>

{{ player_state }}<br/>
{{ player_state['location'][0] }}<br/>
{{ region_map }}<br/>
<hr/>
{{ mobs_data }}
</body>
</html>