<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Interact</title>
    <style>
        body {
            color: white;
        }

        .short-text {
            width: 500px; /* Adjust the width as needed */
            word-wrap: break-word;
        }

        .error {
            border: 2px solid red;
            padding: 5px;
            display: inline-block;
        }

        .error-icon {
            color: red;
            margin-right: 5px;
        }
    </style>
</head>
<body style="background-color: #0d183a;">
<h1>Interact</h1><br>
<h2>{{ tile_data[1] }}</h2>
<p class="short-text">{{ tile_data[2] }}</p>
<h2>Mobs</h2>
{% for item in tile_data[3] %}
    <li>{{ item }}</li>
{% endfor %}
<br>
<h2>Objects</h2>
{% for item in tile_data[4] %}
    <li>{{ item }}</li>
{% endfor %}
<br>
<button onclick="location.href='/index?command=load current'">Back to map</button>
<br><br>
<form action="/interact" method="POST">
    {% for item in tile_data[4] %}
        {% if item == "Tree" %}
            <button type="submit" name="interact" value="Cut Tree">Cut Tree</button>
        {% elif item == "Rock" %}
            <button type="submit" name="interact" value="Mine Rock">Mine Rock</button>
        {% endif %}
    {% endfor %}
</form>
{% if interaction_succeeded %}
    <p>Interaction was successful!!</p>
{% else %}
    <div class="error">
    <span class="error-icon">&#9888;</span>you clicked to fast
    </div>
{% endif %}
</body>
</html>