<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Interact</title>
    <style>
        html, body {
            height: 100%;
            margin: 0;
        }

        body {
            background-color: #18191a;
            color: white;
        }

        .top-bar {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-left: 20px;
            padding-right: 20px;
            background-color: #3c1178;
            border-bottom: 2px solid white;
        }

        .container {
            display: flex;
            flex: 1;
            height: calc(100% - 82px);
        }

        .box-1, .box-2 {
            flex: 1;
            padding-left: 20px;
        }

        .box-1 {
            border-right: 2px solid white;
        }

        .button-container {
            position: relative;
            display: inline-block;
        }

        .description {
            display: none;
            width: 100px;
            background-color: #3c1178;
            color: white;
            text-align: center;
            border: 2px solid white;
            padding: 5px;
            position: absolute;
            bottom: calc(100% - 2px); /* Position above the button */
            left: 50%;
            transform: translateX(-50%);
            box-shadow: 0 4px 8px rgba(0, 0, 0, 8);
            border-radius: 5px;
        }

        .button-container:hover .description {
            display: block;
        }

        .button_purple {
            padding: 10px;
            cursor: pointer;
            border: 1px solid white;
            background-color: #3c1178;
            color: white;
            margin-bottom: 10px;
            margin-right: 6px;
            border-radius: 5px;
        }

        .button_gray {
            padding: 10px;
            cursor: pointer;
            border: 1px solid white;
            background-color: #18191a;
            color: white;
            margin-bottom: 4px;
            border-radius: 5px;
        }

        p {
            margin: 0;
            padding: 0;
        }

        /* Popup container */
        .popup {
            display: none;
            position: fixed;
            bottom: 20px;
            left: 50%;
            transform: translate(-50%, -50%);
            border: 1px solid white;
            padding: 15px;
            border-radius: 10px;
            color: white;
            z-index: 9999;
        }

        /* Text on top of the popup */
        .popup-text {
            font-size: 20px;
            font-weight: bold;
        }
    </style>
</head>
<body>
<div class="top-bar">
    <h1>Process Resource</h1>
    <button class="button_gray" onclick="location.href='/index?command=load current'">Back to map</button>
</div>

<div class="container">
    <div class="box-1">
        <form action="/inventory" method="POST">

            <h2>Craft</h2>

            <h3>Resources and Materials</h3>
            <div class="button-container">
                <button class="button_purple" type="submit" name="craft" value="Craft Planks">4x Planks</button>
                <div class="description">
                    <p>1x Logs</p>
                </div>
            </div>
            <div class="button-container">
                <button class="button_purple" type="submit" name="craft" value="Craft Sticks">4x Sticks</button>
                <div class="description">
                    <p>2x Planks</p>
                </div>
            </div>

            <h3>Tools and Equipment</h3>
            <div class="button-container">
                <button class="button_purple" type="submit" name="craft" value="Craft Wooden Pickaxe Uses">10x Wooden
                    Pickaxe Uses
                </button>
                <div class="description">
                    <p>3x Planks</p>
                    <p>2x Sticks</p>
                </div>
            </div>
            <div class="button-container">
                <button class="button_purple" type="submit" name="craft" value="Craft Wooden Axe Uses">10x Wooden Axe
                    Uses
                </button>
                <div class="description">
                    <p>3x Planks</p>
                    <p>2x Sticks</p>
                </div>
            </div>
            <br/>
            <div class="button-container">
                <button class="button_purple" type="submit" name="craft" value="Craft Stone Pickaxe Uses">20x Stone
                    Pickaxe Uses
                </button>
                <div class="description">
                    <p>3x Rocks</p>
                    <p>2x Sticks</p>
                </div>
            </div>
            <div class="button-container">
                <button class="button_purple" type="submit" name="craft" value="Craft Stone Axe Uses">20x Stone Axe
                    Uses
                </button>
                <div class="description">
                    <p>3x Rocks</p>
                    <p>2x Sticks</p>
                </div>
            </div>

            <h3>Weapons and Armor</h3>
            <div class="button-container">
                <button class="button_purple">NONE</button>
                <div class="description">
                    <p>NONE</p>
                </div>
            </div>

            <h3>Foods and Drinks</h3>
            <div class="button-container">
                <button class="button_purple">NONE</button>
                <div class="description">
                    <p>NONE</p>
                </div>
            </div>

            <h3>Medical Supplies</h3>
            <div class="button-container">
                <button class="button_purple">NONE</button>
                <div class="description">
                    <p>NONE</p>
                </div>
            </div>
        </form>
    </div>
    <div class="box-2">
        <h2>Items</h2>
        <ul>
            {% for item, amount in player_state["inventory"].items() %}
                <li>
                    {{ amount }}x
                    {% if item.endswith("_amount") %}
                        {{ item[:-7].replace('_', ' ') }}
                    {% else %}
                        {{ item.replace('_', ' ') }}
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% if message == "" and fail_message == "" %}
{% elif message == "" %}
    <div id="popup" class="popup" style="background-color: #ed4337">
        <div class="popup-text">{{ fail_message }}</div>
    </div>

{% elif fail_message == "" %}
    <div id="popup" class="popup" style="background-color: #02b875">
        <div class="popup-text">{{ message }}</div>
    </div>
{% endif %}

<script>
    // Function to show the popup for 3 seconds
    function showPopup() {
        const popup = document.getElementById("popup");
        popup.style.display = "block";
        setTimeout(function () {
            popup.style.display = "none";
        }, 3000); // 3 seconds
    }

    // Call the function to show the popup
    showPopup();
</script>
</body>
</html>
