<!DOCTYPE html>
<html>
<head>
    <title>Template landing page</title>
</head>
<body>
    <h1>Template landing page</h1>
    <a href="/not_found">Not Found</a><br/>
    <a href="/a_file.html">A file (not found, from static)</a><br/>
    <a href="/folder1">Folder1 (index.html)</a><br/>
    <a href="/folder2_does_not_exist">Not existing folder</a><br/>
    <br/>
    <br/>
    <a href="/api_data/test1">Api test1</a><br/>
    <a href="/api_data/test2">Api test2</a><br/>
    <br/>
    <br/>
    <a href="/api_template/page1">Template page1</a><br/>
    <a href="/api_template/page1?queryparam=Een Query Param">Test page2</a><br/>
    <br/>
    <br/>
    <img src="/statics/krielkjip.png" alt="KrielKjip"/>
</body>
</html>
