<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
</head>
<body>
    <h1>Home, landing page</h1>
    <a href="/index">Game</a><br/>
    <br/>
    <ul>
{#        {{ items }}#}
        {% for item in items %}
            <li><a href ="/index?command=load {{ item }}">{{ item[:-5] }}</a></li>
{#            <li>{{ item }}</li>#}
        {% endfor %}
    </ul>
    <img src="/statics/krielkjip.png" alt="KrielKjip"/>
</body>
</html>